@using TicariOtomasyon.Models.Entities
@model List<SatisHareket>
@{
    ViewData["Title"] = "MusteriSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1>Cari Satış Geçmişi</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cari Adı: @ViewBag.cari</li>
</ol>
<a class="btn btn-info" href="/Cari/Index">Carilere Geri Dön</a>
<br />
<br />
<table class="table table-condensed">
    <tr>
        <th>Satış ID</th>
        <th>Ürün</th>
        <th>Satış Personeli</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Urun.UrunAd</td>
            <td>@item.Personel.PersonelAd @item.Personel.PersonelSoyad</td>
            <td>@item.Fiyat</td>
            <td>@item.Adet</td>
            <td>@item.ToplamTutar</td>
            <td>@item.Tarih</td>
            <td><a href="#" class="btn btn-success">Yazdır</a></td>
        </tr>
    }
</table>