@using TicariOtomasyon.Models.Entities
@model List<Cariler>
@{
    ViewData["Title"] = "SilinenCariler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1>Cariler</h1>
<br />
<a href="/Cari/CariEkle" class="btn btn-primary">Yeni Cari Ekle</a>
<br />
<br />
<table class="table table-striped">
    <tr>
        <th>Cari ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Cariyi Geri Yükle</th>
        <th>Kalıcı Olarak Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CariId</td>
            <td>@item.CariAd</td>
            <td>@item.CariSoyad</td>
            <td>@item.CariSehir</td>
            <td>@item.CariMail</td>
            <td><a href="/Cari/CariYukle/@item.CariId" class="btn btn-success">Cariyi Geri Yükle</a></td>
            <td><a href="/Cari/KaliciSil/@item.CariId" class="btn btn-danger">Kalıcı Olarak Sil</a></td>
        </tr>
    }
</table>
