@using TicariOtomasyon.Models.Entities
@model List<Urun>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Ürünler</h1>
<br />
<a class="btn btn-primary" href="/Urun/UrunEkle/">Yeni Ürün Ekle</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYATI</th>
        <th>SATIŞ FİYATI</th>
        <th>KATEGORİ</th>
        <th>GÖRSEL</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.UrunAd</td>
            <td>@item.Marka</td>
            <td>@item.Stok</td>
            <td>@item.AlisFiyat</td>
            <td>@item.SatisFiyat</td>
            <td>@(item.Kategori != null ? item.Kategori.KategoriAd : "Kategori Yok")</td>
            <td>@item.UrunGorsel</td>
            <td><a class="btn btn-danger" href="/Urun/UrunSil/@item.Id">Sil</a></td>
            <td><a class="btn btn-success" href="/Urun/UrunGetir/@item.Id">Güncelle</a></td>
        </tr>
    }
</table>
