@using TicariOtomasyon.Models.Entities
@model List<Urun>
@{
    ViewData["Title"] = "SilinenUrunler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    int sayac = 1;
}
<br />
<h1>Silinen Ürünler</h1>
<br />
<a class="btn btn-primary" href="/Urun/Index/">Geri Dön</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYATI</th>
        <th>SATIŞ FİYATI</th>
        <th>KATEGORİ</th>
        <th>GÖRSEL</th>
        <th>KALICI OLARAK SİL</th>
        <th>ÜRÜNÜ GERİ YÜKLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@sayac</td>
            <td>@item.UrunAd</td>
            <td>@item.Marka</td>
            <td>@item.Stok</td>
            <td>@item.AlisFiyat</td>
            <td>@item.SatisFiyat</td>
            <td>@(item.Kategori != null ? item.Kategori.KategoriAd : "Kategori Yok")</td>
            <td>@item.UrunGorsel</td>
            <td><a class="btn btn-danger" href="/Urun/KaliciSil/@item.Id">Kalıcı Olarak Sil</a></td>
            <td><a class="btn btn-success" href="/Urun/GeriYukle/@item.Id">Ürünü Geri Yükle</a></td>
        </tr>
        sayac++;
    }
</table>
